:focus {
	outline: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	width: 360px;
}

em {
	color: #888;
}

fieldset {
	background: #3E6D6A;
	border: 5px solid #E2FFFE;
	margin: 0;
	padding: 0 5px 0 0;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px #333;
}

h1 {
	margin: 0;
	padding: 0;
}

h1 > a {
	background: url(../img/logo-small.png) no-repeat center center;
	display: block;
	text-indent: -999em;
}

input[type=text] {
	background: #3E6D6A url(../img/magnifier.png) no-repeat right center;
	border: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px;
	width: 330px;
}

li {
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 9px 0 8px;
}

li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

p {
	font-size: 12px;
	line-height: 18px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.error {
	background: #fee3e3;
	color: #cb4343;
	margin-top: 10px;
	padding: 10px 20px;
	-webkit-border-radius: 5px;
}

.error p {
	margin: 0;
}
