a { color: #5ea4c7; }

a:hover { color: #316680; }

a:active { color: #99c47c; }

body {
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	width: 360px;
}

em {
	color: #888;
	font-style: normal;
}

#options > form > fieldset {
	border: 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

#popup > header > form > fieldset {
	background: #3e6d6a;
	border: 5px solid #e2fffe;
	margin: 0 5px;
	overflow: hidden;
	padding: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px #adadad;
}

#popup > header > form > fieldset > a {
	background: url(../img/magnifier.png) no-repeat center center;
	border: 0;
	display: block;
	float: right;
	height: 20px;
	margin: 0;
	padding: 0;
	text-indent: -999em;
	width: 20px;
}

#options > header {
	padding-bottom: 0;
}

#options > section {
	background: url(../img/header-clouds-transparent.png) no-repeat center top;
	padding-top: 9px;
	position: relative;
	top: -9px;
}

footer {
	background: rgba(255,0,0,0.4);
	font-size: 8px;
}

h1 {
	background: url(../img/header-lightofgod.png) no-repeat scroll center top transparent;
	margin: 0;
	padding-top: 5px;
}

h1 > a {
	background: url(../img/logo.png) no-repeat center center;
	display: block;
	height: 27px;
	margin: 0 auto;
	padding: 9px 10px;
	text-indent: -999em;
	width: 111px;
}

h2 {
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 0;
}

header {
	background: #c0f3f2 url(../img/header-gradient.png) repeat-x right bottom;
	padding-bottom: 9px;
	position: relative;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#popup > header > form > fieldset > input[type=text] {
	background: #3e6d6a;
	border: 0;
	color: #fff;
	float: left;
	font-size: 12px;
	width: 300px;
}

label {
	font-size: 12px;
	line-height: 18px;
	margin-right: 10px;
}

li {
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 5px 0 4px;
}

li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

p {
	font-size: 12px;
	line-height: 18px;
}

section {
	background: #fff url(../img/header-clouds.png) no-repeat center top;
	padding-top: 9px;
}

span {
	font-size: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.error,
.message {
	margin-top: 10px;
	padding: 10px 20px;
	text-align: center;
	-webkit-border-radius: 5px;
}

.error {
	background: #fee3e3;
	color: #cc4343;
}

.message {
	background: #dffbe5;
	color: #2e5435;
}

.play {
	background: url(/img/play.png) no-repeat scroll transparent;
	background-position: 0 -29px;
	cursor: pointer;
	display: block;
	float: left;
	height: 29px;
	margin-right: 10px;
	text-indent: -999em;
	width: 29px;
}

.play:hover {
	background-position: right top;
}

.play:active {
	background-position: 0 -58px;
}

:focus {
	outline: 0;
}
