$off-black    : #1c1c1c;
$light-grey   : #e6e6e6;
$grey         : #666666;
$dark-grey    : #333333;
$light-green  : #bbed2b;
// $green        : #______;
// $dark-green   : #______;
$light-blue   : #258ccc;
// $blue         : #______;
$dark-blue    : #297eb2;
$light-red    : #ff4848;
$red          : #e92e13;
$dark-red     : #b22121;
$light-yellow : #fffd61;
$yellow       : #ffda54;
$dark-yellow  : #e8d64d;
$off-white    : #fdfdfd;
$white        : #ffffff;
