// Font stacks are chosen based on:
// http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/

$font-stack-monospace  : 'Courier New', Courier, monospace;
$font-stack-sans-serif : Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-stack-serif      : Georgia, Times, 'Times New Roman', serif;
