/* Skeletal base stylesheet */
/*
 * VERTICAL GRID
 *
 * The vertical grid is based on a height of 6px. This allows for the use of
 * line-heights like 12px, 18px, 24px, 30px, etc.
 *
 * Sensible font-size and line-height combinations are:
 *
 *   font-size  |  line-height (em)  |  line-height (px)  |   10px
 * -------------+--------------------+--------------------|----------
 *     10px     |       1.8em        |       18px         |  1em
 *     12px     |       1.5em        |       18px         |
 *     15px     |       1.6em        |       24px         |  .625em
 *     16px     |       1.5em        |       24px         |
 *     20px     |       1.5em        |       30px         |  .5em
 *     24px     |       1.5em        |       36px         |
 *     25px     |       1.44em       |       36px         |  .4em
 *     28px     |       1.5em        |       42px         |
 *     30px     |       1.4em        |       42px         |
 */
/* RESET */
a, abbr, address, b, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, samp, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul, var {
  /*	background: transparent;*/
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

:focus {
  outline: 0; }

a:active {
  position: relative;
  top: 1px; }
a:focus {
  background: #297eb2;
  color: #fdfdfd;
  text-decoration: none; }
a:hover {
  color: #258ccc;
  text-decoration: underline; }
a:link {
  color: #297eb2;
  text-decoration: none; }
  a:link:focus {
    color: #fdfdfd; }
a:visited {
  color: #297eb2;
  text-decoration: none; }

abbr {
  border-bottom: 1px dotted #333333;
  cursor: help;
  font-variant: normal; }

address {
  font-style: italic; }

article {
  margin-bottom: 1.2em; }

aside {
  float: right;
  margin-bottom: 1.2em;
  padding: 0 1em;
  width: 28em; }

b {
  font-weight: bold; }

blockquote {
  border-radius: 0 0.4em 0.4em 0.4em;
  -moz-border-radius: 0 0.4em 0.4em 0.4em;
  -webkit-border-radius: 0 0.4em 0.4em 0.4em;
  background: #e6e6e6;
  color: #333333;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0 6em 1.2em;
  padding: 1.2em 2em; }
  blockquote > p:last-of-type {
    margin-bottom: 0; }

body {
  background-color: inherit;
  color: #1c1c1c;
  font: 62.5%/1 Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* 10px/10px */
  margin: 0 auto;
  overflow: hidden;
  width: 96em; }

button,
input[type="reset"],
input[type="submit"] {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: -moz-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: -ms-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: -o-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: linear-gradient(top, #fdfdfd, #e6e6e6);
  /* standard, but currently unimplemented */
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  /* 2px */
  border-bottom-color: #999;
  /* TODO color */
  border-left-color: #ccc;
  /* TODO color */
  border-right-color: #999;
  /* TODO color */
  border-style: solid;
  border-top-color: #ccc;
  /* TODO color */
  border-width: .0625em;
  /* 1px */
  color: #1c1c1c;
  float: left;
  font: 1.6em/1.75em Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* #/28px */
  height: 1.75em;
  /* 28px */
  margin: 0 .3125em 0 0;
  /* 0 5px 0 0 */
  padding: 0 .875em;
  /* 0 14px */ }
  button:active,
  input[type="reset"]:active,
  input[type="submit"]:active {
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#fdfdfd));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #fdfdfd);
    background-image: -moz-linear-gradient(top, #e6e6e6, #fdfdfd);
    background-image: -ms-linear-gradient(top, #e6e6e6, #fdfdfd);
    background-image: -o-linear-gradient(top, #e6e6e6, #fdfdfd);
    background-image: linear-gradient(top, #e6e6e6, #fdfdfd);
    /* standard, but currently unimplemented */
    border-color: #666666; }
  button:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #666666;
    cursor: pointer; }

cite {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5em;
  /* 18px */ }

code {
  background: #e6e6e6;
  color: #ff4848;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  padding: 0 .2em;
  /* 0 3px */ }

del {
  text-decoration: line-through; }

dfn {
  font-style: italic; }

dl {
  margin-bottom: .6em; }
  dl > dd {
    font-size: 1.5em;
    line-height: 1.6em;
    /* 24px */
    margin: 0 0 .4em 1em;
    /* 0 0 6px 15px */ }
  dl > dt {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.6em;
    /* 24px */ }
    dl > dt:after {
      content: ':'; }

em {
  font-style: italic; }

fieldset {
  /* TODO check effect of clear: left */
  clear: left;
  line-height: 1;
  /* helps set vertical alignment of radio buttons and checkboxes; probably unnecessary */ }
  fieldset > div {
    margin-bottom: 1.2em;
    overflow: hidden;
    position: relative; }
    fieldset > div > input {
      clear: left;
      float: left; }
      fieldset > div > input[type="checkbox"], fieldset > div > input[type="radio"] {
        /* TODO not happy with use of em-values on top of unknown base value */
        float: left;
        font-size: 1.6em;
        height: 1.875em;
        /* 30px */
        margin: 0 .625em 0 0;
        /* 0 10px 0 0 */
        padding: 0; }
      fieldset > div > input[type="color"], fieldset > div > input[type="datetime"], fieldset > div > input[type="datetime-local"], fieldset > div > input[type="email"], fieldset > div > input[type="month"], fieldset > div > input[type="number"], fieldset > div > input[type="password"], fieldset > div > input[type="range"], fieldset > div > input[type="tel"], fieldset > div > input[type="text"], fieldset > div > input[type="time"], fieldset > div > input[type="url"], fieldset > div > input[type="week"] {
        border-bottom-color: #999;
        /* TODO color */
        border-left-color: #ccc;
        /* TODO color */
        border-right-color: #999;
        /* TODO color */
        border-style: solid;
        border-top-color: #ccc;
        /* TODO color */
        border-width: .0625em;
        /* 1px */
        border-radius: 0.125em;
        -moz-border-radius: 0.125em;
        -webkit-border-radius: 0.125em;
        /* 2px */
        background: white;
        font: 1.6em/1em Arial, "Helvetica Neue", Helvetica, sans-serif;
        /* #/16px */
        height: 1em;
        /* 16px */
        margin: 0 .625em 0 0;
        /* 0 10px 0 0 */
        padding: .375em .25em;
        /* 6px 4px */
        width: 16.875em;
        /* 270px */ }
        fieldset > div > input[type="color"]:focus, fieldset > div > input[type="datetime"]:focus, fieldset > div > input[type="datetime-local"]:focus, fieldset > div > input[type="email"]:focus, fieldset > div > input[type="month"]:focus, fieldset > div > input[type="number"]:focus, fieldset > div > input[type="password"]:focus, fieldset > div > input[type="range"]:focus, fieldset > div > input[type="tel"]:focus, fieldset > div > input[type="text"]:focus, fieldset > div > input[type="time"]:focus, fieldset > div > input[type="url"]:focus, fieldset > div > input[type="week"]:focus {
          border-color: #258ccc; }
    fieldset > div > label {
      display: block;
      float: left;
      font-size: 1.6em;
      line-height: 1.875em;
      /* 30px */ }
      fieldset > div > label[data-unit]:after {
        color: #666;
        /* TODO color */
        content: attr(data-unit);
        font-size: .75em;
        /* 12px */
        line-height: 2.5em;
        /* 30px */
        position: absolute;
        left: 20em;
        /* 240px */
        text-align: right;
        top: 2.5em;
        /* 30px */
        width: 2.5em;
        /* 30px */ }
      fieldset > div > label[data-unit] + input[type="text"] {
        padding-right: 3.0625em;
        /* 49px */
        width: 14.0625em;
        /* 225px */ }
    fieldset > div > p {
      clear: left;
      color: #666666;
      font-size: 1.2em;
      line-height: 1.5em;
      /* 18px */
      margin-bottom: 0; }
    fieldset > div > select {
      clear: left;
      float: left;
      margin: 0 .5em 0 0;
      /* ~5px */ }
      fieldset > div > select ~ select {
        clear: none; }
      fieldset > div > select > option {
        font-size: 1.2em;
        line-height: 1.5em;
        /* 18px */ }
        fieldset > div > select > option > optgroup {
          font-size: 1.2em;
          line-height: 1.5em;
          /* 18px */ }
    fieldset > div > span {
      float: left;
      font-size: 1.2em;
      line-height: 2.5em;
      /* 30px */ }
    fieldset > div > textarea {
      border-bottom-color: #999;
      /* TODO color */
      border-left-color: #ccc;
      /* TODO color */
      border-right-color: #999;
      /* TODO color */
      border-style: solid;
      border-top-color: #ccc;
      /* TODO color */
      border-width: .0625em;
      /* 1px */
      border-radius: 0.125em;
      -moz-border-radius: 0.125em;
      -webkit-border-radius: 0.125em;
      /* 2px */
      clear: left;
      float: left;
      font: 1.6em/1.5em Arial, "Helvetica Neue", Helvetica, sans-serif;
      /* #/24px */
      margin: 0;
      padding: .375em .25em;
      /* 6px 4px */
      width: 16.875em;
      /* 270px */ }
      fieldset > div > textarea:focus {
        border-color: #258ccc; }
  fieldset > fieldset {
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    /* 2px */
    border: 0.1em solid #666666;
    margin-bottom: 1.2em;
    padding: .5em .9em 1.1em; }
    fieldset > fieldset > div {
      margin-bottom: 0; }
    fieldset > fieldset > legend {
      padding: 0 .625em;
      /* 10px */ }
  fieldset > legend {
    color: #1c1c1c;
    font: bold 1.6em/1.5em Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* #/24px */
    letter-spacing: .025em; }

footer {
  padding: .6em 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1em;
  width: 94em; }
  footer > ol > li {
    font-size: 1.2em;
    line-height: 1.5em;
    /* 18px */
    margin-bottom: 0; }
  footer > p {
    float: right;
    font-size: 1.2em;
    line-height: 1.5em;
    /* 18px */ }
  footer > ul > li {
    font-size: 1.2em;
    line-height: 1.5em;
    /* 18px */
    margin-bottom: 0; }

form {
  margin-bottom: 1.2em; }
  form > fieldset > legend {
    position: absolute;
    text-indent: -999em; }

h1 {
  float: left;
  font: bold 3em/2em Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* #/60px */
  letter-spacing: .025em; }
  h1 > a {
    display: inline-block; }
    h1 > a:active, h1 > a:focus, h1 > a:hover, h1 > a:link, h1 > a:visited {
      color: inherit; }

h2, h3, h4, h5, h6 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: .025em; }

h2 {
  font-size: 2.5em;
  line-height: 1.68em;
  /* 42px */ }

h3 {
  font-size: 2em;
  line-height: 2.1em;
  /* 42px */ }

h4 {
  font-size: 1.8em;
  line-height: 2em;
  /* 36px */ }

h5 {
  font-size: 1.6em;
  line-height: 2.25em;
  /* 36px */ }

h6 {
  font-size: 1.5em;
  line-height: 2.4em;
  /* 36px */ }

header {
  display: block;
  margin: 0 auto 1.2em;
  overflow: hidden;
  padding: 0 1em;
  width: 94em; }

hr {
  border-style: solid;
  border-width: .1em 0 0 0;
  color: #666666;
  margin: 0 6em 1.1em; }

html {
  background-color: #fdfdfd;
  overflow-y: scroll; }

i {
  font-style: italic; }

ins {
  border-bottom: 1px dashed;
  text-decoration: none; }

kbd {
  font-family: "Courier New", Courier, monospace; }

li > ol > li,
li > ul > li {
  font-size: 1em;
  /* 15px */
  line-height: 1.6em;
  /* 24px */
  margin-left: 1.2em;
  /* 18px */ }

mark {
  background: #fffd61;
  display: inline-block;
  padding: 0 .2em;
  /* 0 3px */ }

nav {
  float: right;
  margin: 1.8em 0; }
  nav > ol {
    list-style: none;
    margin-bottom: 0;
    overflow: hidden; }
    nav > ol > li {
      float: left;
      font-size: 1em;
      margin-left: 2em; }
      nav > ol > li > a {
        display: block;
        font-size: 1.5em;
        line-height: 1.6em;
        /* 24px */ }

ol {
  list-style-position: inside;
  list-style-type: decimal;
  margin-bottom: 1.2em; }
  ol > li {
    font-size: 1.5em;
    line-height: 1.6em;
    /* 24px */ }
    ol > li > ol {
      list-style-type: lower-alpha;
      margin-bottom: 0; }
      ol > li > ol > li > ol {
        list-style-type: lower-roman; }
    ol > li > ul {
      margin-bottom: 0; }

p {
  font-size: 1.5em;
  line-height: 1.6em;
  /* 24px */
  margin-bottom: .8em;
  /* 12px */ }

pre {
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  /* 2px */
  background: #e6e6e6;
  color: #ff4848;
  font: 1.6em/1.5em "Courier New", Courier, monospace;
  /* #/24px */
  margin-bottom: .75em;
  /* 12px */
  padding: .375em .625em;
  /* 6px 10px */ }

q {
  font-style: italic; }

samp {
  font-family: "Courier New", Courier, monospace; }

section {
  float: left;
  margin-bottom: 1.2em;
  padding: 0 1em;
  position: relative;
  width: 58em; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.2em; }
  table > tbody > tr {
    background: #e6e6e6;
    border-bottom: .1em dashed #ccc;
    /* 1px */
    /* TODO color */ }
    table > tbody > tr:last-child {
      border-bottom: 0; }
    table > tbody > tr > td {
      font-size: 1.5em;
      line-height: 2em;
      padding: 0 .6em;
      /* 0 9px */ }
    table > tbody > tr > th {
      border-right: 0.063em solid #666666;
      /* 1px */
      font-size: 1.6em;
      font-weight: normal;
      line-height: 1.875em;
      /* 30px */
      padding: 0 .625em;
      /* 0 10px */
      text-align: right; }
  table > tfoot > tr {
    background-color: white;
    border-top: 0.1em solid #666666; }
    table > tfoot > tr > td {
      font-size: 1.6em;
      line-height: 1.875em;
      /* 30px */
      padding: 0 .625em;
      /* 0 10px */ }
    table > tfoot > tr > th {
      border-right: 0.063em solid #666666;
      /* 1px */
      font-size: 1.6em;
      line-height: 1.875em;
      /* 30px */
      padding: 0 .625em;
      /* 0 10px */
      text-align: right; }
  table > thead {
    background: #ccc;
    /* TODO color */ }
    table > thead > tr {
      border-bottom: 0.1em solid #666666; }
      table > thead > tr > th {
        font-size: 1.6em;
        font-weight: normal;
        line-height: 1.875em;
        /* 30px */
        padding: 0 1.25em;
        /* 0 20px */ }
        table > thead > tr > th:first-child {
          border-top-left-radius: 0.125em;
          -moz-border-radius-top-left: 0.125em;
          -webkit-border-top-left-radius: 0.125em;
          /* 2px */ }
        table > thead > tr > th:last-child {
          border-top-right-radius: 0.125em;
          -moz-border-radius-top-right: 0.125em;
          -webkit-border-top-right-radius: 0.125em;
          /* 2px */ }

ul {
  list-style-position: inside;
  list-style-style-type: disc;
  margin-bottom: 1.2em; }
  ul > li {
    font-size: 1.5em;
    line-height: 1.6em;
    /* 24px */ }
    ul > li > ol {
      margin-bottom: 0; }
    ul > li > ul {
      list-style-type: circle;
      margin-bottom: 0; }
      ul > li > ul > li > ul {
        list-style-type: square; }

var {
  font-family: "Courier New", Courier, monospace;
  font-style: italic; }

/* DEBUG (uncomment to debug horizontal grid) */
/*
* {
	background-color: rgba(255,0,0,.1);
}

body {
	background: {
		image: url(../images/960.gs/16_col.gif);
		position: center top;
		repeat: repeat-y;
	}
}
*/
